*{
  box-sizing: border-box;
}
body{
    background: #c7c7c7;
    background-image: url(../images/Kyshumu_white-v2.jpg), url(../images/Tomasina_visor.jpg);
    background-size: 50%;
    background-position: right 10%, left 10%;
    background-repeat: no-repeat;}
.align-center{
  text-align:center
}
.container.launch {
    background: #365b87;
    color: #f2f2f2;
    border-radius: 15px;
    width: 630px;
    margin: auto;
    line-height: 1.5;
}
.launch h2{
  margin: 10px 0 0;
}
.launch h3 {
    padding: 20px;
    text-align: center;
    margin: auto;
}
.launch h1{
  background-image: url(../images/comicharacters-logo.png);
    text-indent: -220%;
    background-size: contain;
    background-repeat: no-repeat;
  overflow: hidden;
}
.inner-container {
    background: #f2f2f2;
  color:#222;
    margin: 5px;
    border-radius: 15px;
    padding: 15px 50px;
    font-size: 22px;
}
.social h4{
  margin-bottom: 10px
}
.social-link {
    border: 5px solid #ccc;
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-size: 100%;
    text-indent: 100%;
    margin-right: 5px;
  background-color:#f2f2f2;
  border-radius:50%
}

.launch a, .launch .footer{
  color:#f2f2f2;
  font-size:15px;
}
